<div class="edit-tab-with-sidemenu">
    <aside class="edit-sidemenu-aside">
        <ul class="edit-sidemenu">
            <li ng-repeat="(index,series) in ctrl.panel.echarts.option.series track by $index"
                ng-class="{active: ctrl.panel.dataTabIndex === index }" class="">
                <a ng-click="ctrl.panel.dataTabIndex= index">{{ctrl.panel.echarts.option.series[index].refId}}</a>
            </li>
        </ul>
    </aside>
    <div class="edit-tab-content" ng-repeat="(index,series) in ctrl.panel.echarts.option.series track by $index"
        ng-if="ctrl.panel.dataTabIndex === index">
        <div class="gf-form-inline">
            <span class="section-heading width-5">Type</span>
            <div class="gf-form">
                <label class="gf-form-label width-5">Echarts</label>
                <div class="gf-form-select-wrapper">
                    <select class="gf-form-input" ng-model="ctrl.panel.echarts.option.series[index].type"
                        ng-options="i for i in ctrl.panel.echarts.reserveOption.series.typeList"
                        ng-change="ctrl.refresh()"></select>
                </div>
            </div>
            <div class="gf-form">
                <label class="gf-form-label width-8">isRebuildOption</label>
                <div class="gf-form-switch">
                    <input id="check-title-show" type="checkbox" ng-change="ctrl.refresh()"
                        ng-model="ctrl.panel.echarts.option.series[index].isRebuildOption"
                        class="ng-pristine ng-untouched ng-valid ng-not-empty">
                    <label for="check-title-show" data-on="Yes" data-off="No"></label>
                </div>
            </div>
        </div>
        <!-- Scatter 散點圖 -->
        <div ng-if="ctrl.panel.echarts.option.series[index].type=='scatter'">
            <!-- 坐標系 -->
            <div class="gf-form-inline">
                <span class="section-heading width-5">CSYS</span>
                <div class="gf-form">
                    <label class="gf-form-label width-10">coordinateSystem</label>
                    <div class="gf-form-select-wrapper">
                        <select class="gf-form-input"
                            ng-model="ctrl.panel.echarts.option.series[index].coordinateSystem"
                            ng-options="i for i in ['cartesian2d','polar','polar']" ng-change="ctrl.refresh()"></select>
                    </div>
                </div>
                <div class="gf-form" ng-if="ctrl.panel.echarts.option.series[index].coordinateSystem='cartesian2d'">
                    <label class="gf-form-label width-10">cartesian2d</label>
                </div>
                <div class="gf-form" ng-if="ctrl.panel.echarts.option.series[index].coordinateSystem='polar'">
                    <label class="gf-form-label width-10">polar</label>
                </div>
                <div class="gf-form" ng-if="ctrl.panel.echarts.option.series[index].coordinateSystem='geo'">
                    <label class="gf-form-label width-10">geo</label>
                </div>
            </div>
            <!-- 標記 -->
            <div class="gf-form-inline">
                <h5 class="section-heading width-5">Symbol</h5>
                <div class="gf-form">
                    <label class="gf-form-label width-7">symbol</label>
                    <div class="gf-form-select-wrapper">
                        <select class="gf-form-input" ng-model="ctrl.panel.echarts.option.series[index].symbol"
                            ng-options="i for i in ['circle', 'rect', 'roundRect', 'triangle', 'diamond', 'pin', 'arrow', 'none']"
                            ng-change="ctrl.refresh()"></select>
                    </div>
                </div>
                <div class="gf-form">
                    <label class="gf-form-label width-7">symbolSize</label>
                    <input type="text"
                        class="gf-form-input max-width-6 ng-valid ng-empty ng-dirty ng-valid-number ng-touched"
                        ng-model="ctrl.panel.echarts.option.series[index].symbolSize" ng-change="ctrl.refresh()"
                        ng-value="ctrl.panel.echarts.option.series[index].symbolSize" placeholder="10">
                </div>
                <div class="gf-form">
                    <label class="gf-form-label width-7">symbolRotate</label>
                    <input type="text"
                        class="gf-form-input max-width-6 ng-valid ng-empty ng-dirty ng-valid-number ng-touched"
                        ng-model="ctrl.panel.echarts.option.series[index].symbolRotate" ng-change="ctrl.refresh()"
                        ng-value="ctrl.panel.echarts.option.series[index].symbolRotate" placeholder="0">
                </div>
                <div class="gf-form">
                    <label class="gf-form-label width-7">symbolKeepAspect</label>
                    <input type="text"
                        class="gf-form-input max-width-6 ng-valid ng-empty ng-dirty ng-valid-number ng-touched"
                        ng-model="ctrl.panel.echarts.option.series[index].symbolKeepAspect" ng-change="ctrl.refresh()"
                        ng-value="ctrl.panel.echarts.option.series[index].symbolKeepAspect" placeholder="false">
                </div>
                <div class="gf-form">
                    <label class="gf-form-label width-7">symbolOffset</label>
                    <input type="text"
                        class="gf-form-input max-width-6 ng-valid ng-empty ng-dirty ng-valid-number ng-touched"
                        ng-model="ctrl.panel.echarts.option.series[index].symbolRotate" ng-change="ctrl.refresh()"
                        ng-value="ctrl.panel.echarts.option.series[index].symbolRotate" placeholder="[0,0]">
                </div>
            </div>
            <!-- 大數據量優化 -->
            <div class="gf-form-inline">
                <h5 class="section-heading width-5">Large</h5>
            </div>
            <!-- 文本 -->
            <div class="gf-form-inline">
                <h5 class="section-heading width-5">Label</h5>
            </div>
            <!-- 圖形樣式 -->
            <div class="gf-form-inline">
                <h5 class="section-heading width-5">Item</h5>
            </div>
            <!-- 高亮的图形和标签样式。 -->
            <div class="gf-form-inline">
                <h5 class="section-heading width-5">Emphasis</h5>
            </div>
            <!-- 其他 -->
            <div class="gr-form-inline">
                <h5 class="section-heading width-5">Other</h5>
                <div class="gf-form">
                    <label class="gf-form-label width-6">hoverAnimation</label>
                    <div class="gf-form-switch">
                        <input id="check-scatter-hoverAnimation-show" type="checkbox" ng-change="ctrl.refresh()"
                            ng-model="ctrl.panel.echarts.option.series[index].hoverAnimation"
                            class="ng-pristine ng-untouched ng-valid ng-not-empty">
                        <label for="check-scatter-hoverAnimation-show" data-on="Yes" data-off="No"></label>
                    </div>
                </div>
                <div class="gf-form">
                    <label class="gf-form-label width-6">legendHoverLink</label>
                    <div class="gf-form-switch">
                        <input id="check-scatter-legendHoverLink-show" type="checkbox" ng-change="ctrl.refresh()"
                            ng-model="ctrl.panel.echarts.option.series[index].legendHoverLink"
                            class="ng-pristine ng-untouched ng-valid ng-not-empty">
                        <label for="check-scatter-legendHoverLink-show" data-on="Yes" data-off="No"></label>
                    </div>
                </div>
                <div class="gf-form">
                    <label class="gf-form-label width-6">cursor</label>
                    <div class="gf-form-select-wrapper">
                        <select class="gf-form-input" ng-model="ctrl.panel.echarts.option.series[index].cursor"
                            ng-options="i for i in ['pointer']" ng-change="ctrl.refresh()"></select>
                    </div>
                </div>
            </div>
            <div class="section gf-form-group">
                <h5 class="section-heading">Mark Line</h5>
                <div class="gf-form">
                    <label class="gf-form-label width-7">type</label>
                    <div class="gf-form-select-wrapper">
                        <select class="gf-form-input" ng-model="ctrl.panel.echarts.option.series[index].markLine.type"
                            ng-options="i for i in ctrl.panel.echarts.option.series[index].markLine.typeList"
                            ng-change="ctrl.refresh()"></select>
                    </div>
                </div>
                <div class="gf-form" label-class="width-7">
                    <label class="gf-form-label width-7">x-Line</label>
                    <input type="text"
                        class="gf-form-input max-width-6 ng-valid ng-empty ng-dirty ng-valid-number ng-touched"
                        ng-model="ctrl.panel.echarts.option.series[index].markLine.data[0][0].coord[1]"
                        ng-change="ctrl.refresh()"
                        ng-value="ctrl.panel.echarts.option.series[index].markLine.data[0][0].coord[1]">
                </div>
                <div class="gf-form" label-class="width-7">
                    <label class="gf-form-label width-7">y-Line</label>
                    <input type="text"
                        class="gf-form-input max-width-6 ng-valid ng-empty ng-dirty ng-valid-number ng-touched"
                        ng-model="ctrl.panel.echarts.option.series[index].markLine.data[1][0].coord[0]"
                        ng-change="ctrl.refresh()"
                        ng-value="ctrl.panel.echarts.option.series[index].markLine.data[1][0].coord[0]">
                </div>
            </div>
            <div class="section gf-form-group">
                <h5 class="section-heading">Item Style</h5>
                <div class="gf-form" label-class="width-7">
                    <label class="gf-form-label width-7">Border Type</label>
                    <div class="gf-form-select-wrapper">
                        <select class="gf-form-input"
                            ng-model="ctrl.panel.echarts.option.series[index].itemStyle.borderType"
                            ng-options="i for i in ['solid','dashed','dotted']" ng-change="ctrl.refresh()"></select>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>